
<div>
  <div class="container card mt-4">

    <div class="row row-cols-sm-1 row-cols-lg-2" id="perfil">
      <div class="col-sm text-center">
        <img src="assets/imgs/me.jpg" id="profile_image" class="img-fluid">
      </div>
    
      <div class="col align-content-center">
        <h1 class="text-center mt-5" id="titulo">Sobre mi</h1>
        <div class="typewriter h1">
          <h1 id="nombre">David Buenacasa Lopez </h1>
        </div>
        <div>
          <h2 class="text-center mt-3 mt-3">Desarrollador</h2>
          <p id="descripcion">Soy un desarrollador de Software de Aragón, Zaragoza.
            Cuento con un perfil tecnológico amplio, especializado en aplicaciones multiplataforma.
            Actualmente,me estoy iniciando en el desarrollo web con frameworks como Angular.
            
          </p>
        </div>
        
        <button class="button" id="masInfo" type="button" data-bs-toggle="collapse" data-bs-target="#masInfo" aria-expanded="false" aria-controls="masInfo" >Mas info</button>
      </div>
    </div>
  
  </div>
  
  
  <div class="container-fluid collapse" id="masInfo">
  <section class="design-section">
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 ">
      <div class="col card-timeline">
        <h2 class="text-center mb-5">Experiencia</h2>
        <div class="timeline">
          <div class="timeline-empty">
          </div>
          <div class="timeline-middle">
            <div class="timeline-circle"></div>
          </div>
          <div class="timeline-component timeline-content">
            <h3>Desarrollador Abap</h3>
            <p>Deloitte Consulting S.L</p>
            <p>09-23/12-23</p>
          </div>
          <div class="timeline-component timeline-content">
            <h3>Desarrollador .NET</h3>
            <p>Audinfor System S.L.</p>
            <p>07-22/09-22</p>
          </div>
          <div class="timeline-middle">
            <div class="timeline-circle"></div>
          </div>
        </div>
      </div>
  
      <div class="col card-timeline">
        <h2 class="text-center mb-5">Formacion</h2>
        <div class="timeline">
          <div class="timeline-empty">
          </div>
          <div class="timeline-middle">
            <div class="timeline-circle"></div>
          </div>
          <div class="timeline-component timeline-content">
            <h3>CFGS Desarrollo De Aplicaciones Multiplataforma</h3>
            <p>CPFI Los enlaces</p>
            <p>09-20/06-22</p>
          </div>
          <div class="timeline-component timeline-content">
            <h3>Bachillerato CCSS</h3>
            <p>IES Felix De Azara</p>
            <p>09-17/06-19</p>
          </div>
          <div class="timeline-middle">
            <div class="timeline-circle"></div>
          </div>
        </div>
      </div>
      <div class="col card-timeline">
        <h2 class="text-center mb-5">Cursos</h2>
        <div class="timeline">
          <div class="timeline-empty">
          </div>
          <div class="timeline-middle">
            <div class="timeline-circle"></div>
          </div>
          <div class="timeline-component timeline-content">
            <h3>SAP S4HANA (S4F10, S4F20) (60 horas)</h3>
            <p>CTA</p>
            <p>04-2024</p>
          </div>
          <div class="timeline-component timeline-content">
            <h3>ABAP SAP (160 horas)</h3>
            <p>Deloitte Consulting S.L</p>
            <p>05-23</p>
          </div>
          <div class="timeline-middle">
            <div class="timeline-circle"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
  
  
  <div class="container justify-content-center habilidades mt-5">
    <h2 class="text-center mb-5 mt-2">Habilidades</h2>
    <div class="flex flex-wrap w-full row row-cols-sm-2 row-cols-md-4">
  
  
      <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-4 casilla">
        <div class="skill mb-3">
          <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-48" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="--value: 65"></div>
        </div>
        <div>
          <p class="text-center skill-text">Java</p>
        </div>
      </div>
  
    <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-48 casilla">
      <div class="skill mb-3">
        <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-48" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="--value: 50"></div>
      </div>
      <div>
        <p class="text-center skill-text">Python</p>
      </div>
    </div>
  
    <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-48 casilla">
      <div class="skill mb-3">
        <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-48" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="--value: 50"></div>
      </div>
      <div>
        <p class="text-center skill-text">Abap</p>
      </div>
    </div>
  
    <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-48 casilla">
      <div class="skill mb-3">
        <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-48" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="--value: 40"></div>
      </div>
      <div>
        <p class="text-center skill-text">.NET</p>
      </div>
    </div>
  
    <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-4 casilla ">
      <div class="skill mb-3">
        <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-48" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="--value: 40"></div>
      </div>
      <div>
        <p class="text-center skill-text">Angular</p>
      </div>
    </div>
  
    <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-48 casilla">
      <div class="skill mb-3">
        <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-48" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="--value: 60"></div>
      </div>
      <div>
        <p class="text-center skill-text">Docker</p>
      </div>
    </div>
  
    <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-48 casilla">
      <div class="skill mb-3">
        <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-48" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="--value: 70"></div>
      </div>
      <div>
        <p class="text-center skill-text">SQL</p>
      </div>
    </div>
  
    <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-48 casilla">
      <div class="skill mb-3">
        <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-48" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="--value: 55"></div>
      </div>
      <div>
        <p class="text-center skill-text">Linux</p>
      </div>
    </div>
  
    <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-4 casilla">
      <div class="skill mb-3">
        <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-48" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="--value: 70"></div>
      </div>
      <div>
        <p class="text-center skill-text">HTML</p>
      </div>
    </div>
  
    <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-4 casilla">
      <div class="skill mb-3">
        <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-48" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="--value: 60"></div>
      </div>
      <div>
        <p class="text-center  skill-text">CSS</p>
      </div>
    </div>
  
    <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-48 casilla">
      <div class="skill mb-3">
        <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-48" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="--value: 55"></div>
      </div>
      <div>
        <p class="text-center  skill-text">JavaScript</p>
      </div>
    </div>
  
    <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-48 casilla">
      <div class="skill mb-3">
        <div class="col down-sm:w-1/2 xs:mb-16 w-1/4 mb-48" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="--value: 40"></div>
      </div>
      <div>
        <p class="text-center skill-text">Android</p>
      </div>
    </div>
  </div>
</div>
