
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="">Inicio</a>
        <a class="nav-link" href="/proyectos">Proyectos</a>
        <a class="nav-link" href="/contacto">Contacto</a>
      </div>

    </div>
    <div class="justify-content-end">
      <div class="row">

        <div class="col">
          <a href="https://github.com/DavidBuenacasa">
            <img src="assets/icons/git-50.svg"> 
          </a>
          <a href="https://www.linkedin.com/in/david-b-40331a179/" alt="Linkedin">
            <img src="assets/icons/linkedin-48.svg"> 
          </a>


        </div>
      </div>
    </div>
  </div>
</nav>
<body>
  <div>
    <router-outlet></router-outlet>
  </div>
</body>


  