<div class="proyectos">

  <h1 class="mt-4 ">Proyectos</h1>
    
      <div class="container">
        <div class="card">

            <div class="content">
              <div class="imgBx">
                <img src="assets/imgs/trivial.png" class="project">
                <img src="assets/icons/tools.png" class="develop">
              </div>
              <div class="contentBx">
                <h3 class="project">Trivial Academico<br><span></span></h3>
                <h3 class="develop">En construccion</h3>
              </div>
            </div>
          
            <ul class="sci">
          
              <li>
                <a href="https://trivial.sirdavo.es" target="blank">
                  <img src="assets/icons/web.png" class="web-icon">
                </a>
                <a href="https://github.com/DavidBuenacasa/trivial" target="blank">
                  <img src="assets/icons/git-color.png" class="git-color">
                </a>
              </li>
          
            </ul>
        </div>
        <div class="card">
          <div class="content">
            <div class="imgBx">
              <img src="assets/imgs/blog.png" class="project">
              <img src="assets/icons/tools.png" class="develop">
            </div>
            <div class="contentBx">
              <h3 class="project">Blog<br><span></span></h3>
              <h3 class="develop">En construccion</h3>
            </div>
          </div>
          <ul class="sci">
            <li>
              <a href="https://blog.sirdavo.es/" target="blank">
                <img src="assets/icons/web.png" class="web-icon">
              </a>
            </li>
          </ul>
        </div>
        <div class="card">
          <div class="content">
            <div class="imgBx">
              <img src="assets/imgs/whatsapp.png" class="project">
              <img src="assets/icons/tools.png" class="develop">
            </div>
            <div class="contentBx">
              <h3 class="project">Whatsapp Analyzer<br><span></span></h3>
              <h3 class="develop">En construccion</h3>
            </div>
          </div>
          <ul class="sci">
            <li>
              <a href="https://analyzer.sirdavo.es/" target="blank">
                <img src="assets/icons/web.png" class="web-icon">
              </a>
              <a href="https://github.com/DavidBuenacasa/Whatsapp-Analyzer" target="blank">
                <img src="assets/icons/git-color.png" class="git-color">
              </a>
            </li>
          </ul>
        </div>
      </div>
</div>





  
  

