<div class="proyectos">

  <h1 class="mt-4 ">Proyectos</h1>
    
      <div class="container">
        <div class="card">
          <div class="content">
            <div class="imgBx">
              <img src="assets/imgs/trivial.png">
            </div>
            <div class="contentBx">
              <h3>Trivial Academico<br><span></span></h3>
            </div>
          </div>
        
          <ul class="sci">
        
            <li>
              <a href="https://github.com/DavidBuenacasa/trivial" target="blank">
                <img src="assets/icons/git-color.png" class="git-color">
              </a>
            </li>
        
          </ul>
        </div>
        <div class="card">
          <div class="content">
            <div class="imgBx">
              <img src="assets/imgs/blog.png">
            </div>
            <div class="contentBx">
              <h3>Blog<br><span></span></h3>
            </div>
          </div>
          <ul class="sci">
            <li>
              <a href="https://github.com/DavidBuenacasa/trivial" target="blank">
                <img src="assets/icons/git-color.png" class="git-color">
              </a>
            </li>
          </ul>
        </div>
        <div class="card">
          <div class="content">
            <div class="imgBx">
              <img src="assets/imgs/whatsapp.png">
            </div>
            <div class="contentBx">
              <h3>Whatsapp Analyzer<br><span></span></h3>
            </div>
          </div>
          <ul class="sci">
            <li>
              <a href="https://github.com/DavidBuenacasa/trivial" target="blank">
                <img src="assets/icons/git-color.png" class="git-color">
              </a>
            </li>
          </ul>
        </div>
      </div>
</div>





  
  

